@import '../reset.scss';

.shop {
  margin-top: 196px;

  &-top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 264px;
    @media (max-width: 500px) {
      display: block;
      margin-bottom: 100px;
    }

    &__inner {
      h1 {
        font-size: 55px;
        line-height: 60px;
        font-weight: 500;
        text-align: left;
      }

      p {
        margin-top: 15px;
        text-align: left;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        transition: color rgb(160, 159, 159) 0.5s ease;
        &:hover {
          color: rgb(160, 159, 159);
        }
      }
    }

    &__search {
      position: relative;
      margin-top: 13px;
    }

    &__icon {
      width: 60px;
      height: 40px;
      position: absolute;
      left: -55px;
      fill: $colorButton;
      transition: fill 0.5s ease-in-out;
      cursor: pointer;
      &:hover {
        fill: $colorButtonHover;
      }
      @media (max-width: 500px) {
        display: none;
      }
    }

    &__input {
      width: 170px;
      height: 40px;
      outline: none;
      border: 2px solid $backgroundHoverCart;
      font-size: 17px;
      transition: width 1s ease-in-out;
      margin-right: 30px;
      padding-left: 15px;

      &:is(:active, :hover) {
        width: 200px;
      }

      @media (max-width: 500px) {
        margin-right: 0;
        left: 0;
      }
    }

    &__clear {
      width: 60px;
      height: 40px;
      position: absolute;
      right: -21px;
      fill: $colorButton;
      cursor: pointer;
      transition: fill 0.5s ease-in-out;
      &:hover {
        fill: $colorButtonHover;
      }
      @media (max-width: 500px) {
        right: 69px;
      }
    }
  }
}

.shop__catalog-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 800px) {
    display: block;
  }
}

.category {
  display: flex;
  list-style-type: none;
  @media (max-width: 500px) {
    flex-wrap: wrap;
    gap: 10px;
  }

  li {
    width: 191px;
    height: 62px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    cursor: pointer;
    margin-right: 15px;
    @media (max-width: 500px) {
      width: 100px;
      height: 35px;
      font-size: 14px;
    }
  }

  .active {
    background-color: #000000;
    color: #fff;
  }
}

.shopList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(387px, 1fr));
  gap: 15px;
  margin: 87px 0 87px 0;
  list-style-type: none;
  @media (max-width: 500px) {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }

  &-item {
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (max-width: 500px) {
      width: 100%;
      height: 100%;
    }
  }

  &-item__title {
    font-size: 17px;
    margin-top: 24px;
    margin-bottom: 20px;
  }

  &-item__top {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  &-item__img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
  }

  &-item__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    transition: background-color opacity 0.5s ease;
    &:hover {
      background-color: $backgroundHoverCart;
      opacity: 0.7;
    }

    .row {
      margin-left: 178px;
    }
  }

  &-item__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &-item__sizes {
    display: flex;
    text-align: center;
    justify-content: center;
    transition: opacity 1s ease;
    opacity: 0;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      margin-right: 20px;
      cursor: pointer;
    }

    .active {
      border-bottom: 2px solid black;
    }
  }

  .shopList-item:hover .shopList-item__sizes {
    opacity: 1;
  }

  &-item__price {
    margin-top: 7px;
    margin-bottom: 10px;
    flex-grow: 1;
  }

  &-item__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  &-item__btn {
    width: 130px;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
    color: black;
    background-color: #6e9c9f;
    transition: background-color 0.5s ease-in-out;
    margin-top: auto;
    &:hover {
      background-color: #509498;
    }
    &:active {
      transform: translateY(1px);
    }
  }

  &-item__favorites {
    width: 60px;
    height: 30px;
    cursor: pointer;
    fill: #f00;
    opacity: 0.6;
    transition: opacity 0.5 ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}
