@import '../../scss/reset';

.burgerMenu {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: $colorHeader;
  margin-top: 318px;
  height: 300px;

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 25px;
    margin-top: 15px;
  }
  &__link {
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    color: $black;
    transition: color 0.5s ease-in-out;
    &:hover {
      color: $colorNavHover;
    }
  }
}
